<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- 下記はDB接続文字列のサンプルです -->
	<!-- 各システムのApp.configにconnectionStringの部分を定義してください -->
	<!-- nameは「KomSystem」固定でお願いします -->
	<connectionStrings>
		<add name="KomSystem" connectionString="Provider=SQLOLEDB;Data Source=ISV03006\SQLEXPRESS01;Initial Catalog=BBX61;User ID=sa;Password=sa;Connection Timeout=4000;"/>
	</connectionStrings>
</configuration>